:root {
    --heading-background-color: #FFFFFF;
    --heading-text-color: #001D3D;
    --heading-font: 'Roboto', 'EB Garamond';
    --padding: 20px;
    --border: 1px #D0CDC8;
}
header {
	margin: 1rem auto 0;
	display: flex;
    grid-gap: 800px;
    border: var(--border);
}
navigation {
    background-color: var(--heading-background-color);
    text-align: right;
    color: var(--heading-text-color);
}
.navigation a {
	color: green;
	padding: var(--padding);
	text-decoration: solid;
}
main {
    width: auto;
	margin: 1rem auto;
	background-color: var(--heading-background-color);
	padding: var(--padding);
	border: var(--border);
}
h2 {
    margin: 1rem;
    font-size: 1.5em;
    color: black;
    text-align: center;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero {
    margin: 10px auto;
    position: relative;
}

article {
	position: absolute;
    top: 40px;
	right: 500px;
	padding: var(--padding);
    width: 15%;
    height: 10%;
    bottom: 25px;
	right: 50px;
    color: #FFFFFF;
    text-align: left;
}
	
h1 {
	text-shadow: 0 0 15px #333;
	border-bottom: 1px solid #001D3D;
    position: absolute;
    top: 40px;
    right: 500px;
    color: antiquewhite;
    background: var(--heading-text-color);
    border: 1px solid #000;
    box-shadow: 0 0 30px #111;
	opacity: 0.9;
}

footer {
    width: 650px;
    text-align: center;
    color: var(--heading-text-color);
    border-top: 1px solid #000;
	width: auto;
    padding: var(--padding);
    background-color: var(--heading-background-color);
}