* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    font-size: 1.2em; /* 1.2em*/
    color: black;
    background: white;
}
header {
	margin: 1rem auto 0;
	display: flex;
    grid-template-columns: 1fr 1fr 2fr;
	align-items: flex;
    padding: 10px;
	max-width: 1250px;
    color: darkgreen;
    font-size: 0.8em;
    grid-gap: 500px;
    float: right;
}

.navigation {
    background-color: blueviolet;
	display: contents;
	list-style: none;
    color: aliceblue;
}
.navigation a {
	color: green;
	padding: 20px;
	text-decoration: solid;
}
h3 {
    margin: 1rem;
    font-size: 1.5em;
    color: brown;
    text-align: left;
}
h2 {
    margin: 1rem;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center; /*center*/
    font-size: 0.8em;
    color: black;
    border-top: 1px solid #000;
	width: auto;
    margin: 0 auto;
    padding: 1rem;
    background-color: darkgreen;
}