:root {
    --heading-background-color: #87ceeb;
    --heading-text-color: #333;
    --heading-font: 'montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
}
/* vaiables were used as ver in this example*/
h1 {
    border: 1px solid wheat;
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
/*aside {
    position: relative;
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}*/
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--heading-background-color);
    padding: var(--padding);
}
nav a {
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img { 
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
footer {
    margin-top: 15px;
    border: var(--border);
    text-align: center;
}