:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
}
/* vaiables were used as ver in this example*/
h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}
aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
}
nav a {
    color: var(--heading-text-color);
    display: block;
    padding: var(--padding);
}
h1 {
    color: var(--heading-text-color);
}
img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
footer {
    margin-top: 15px;
    border: var(--border);
    text-align: center;
}